<fieldset>
  <legend>Edit Domain</legend>
<div class="span9">
      <%= form_for(@domain, :url => {:action => 'update_domain'}, :html => { :onsubmit => "return $(this).validate()", :class => "form-horizontal form-condensed", :id => "edit_domain" }) do |f|%>
          <div class="control-group">
            <label class="control-label" for="first_name">Domain Name</label>
            <div class="controls">
              <%= f.text_field :domain_name, :readonly => true, :class => "large span9 required", :placeholder => "e.g example.co.za" %>
            </div>
          </div>
          <%= render('shared/domain_controls', :f => f) %>
          <div class="control-group">
            <label class="control-label" for="first_name"></label>
            <div class="controls">
              <button class="btn-info btn btn-xlarge" type="submit" id="registerButton">Update</button>
            </div>
          </div>
        <%end%>
</div>
</fieldset>
