<fieldset>
  <legend>Edit Customer</legend>
<div class="span9">
      <%= form_for(@customer, :url => {:action => 'update_customer'}, :html => {:onsubmit => "return $(this).validate()", :class => "form-horizontal form-condensed", :id => "edit_customer"}) do |f| %>
          <div class="control-group">
            <label class="control-label" for="first_name">Debtor Code</label>
            <div class="controls">
              <%= f.text_field :debtor_code,:readonly => true, :class => "large span9 required", :placeholder => "Debtor Code" %>
            </div>
          </div>
          <%= render('shared/contacts_controls', :f => f) %>
          <div class="control-group">
            <label class="control-label" for="first_name"></label>
            <div class="controls">
              <button class="btn-info btn btn-xlarge" type="submit" id="registerButton">Update </button>
            </div>
          </div>
      <%end%>
</div>
</fieldset>
