<div class="form-background">
  <div id="myform" class="span9 offset3">
    <%= form_tag({:action => action_name },{:onsubmit => "return $(this).validate()",:class => "form-search", :id => "search_it"}) do %>
      <div class="input-append span6">
        <div class="control-group">
          <div class="controls">
            <input type="text" class="span20 search-query" id="search" AUTOCOMPLETE = "off" name="search"  data-provide="typeahead" data-items="4" data-source='<%= @autocomplete_items.to_json %>'>
            <button type="submit" class="btn">Search</button>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
