<div id="order_state_code_wrapper">
	<% parent_region ||= params[:parent_region] %>
  	<% country = Carmen::Country.coded(parent_region) %>
  	<% if country.nil? %>
    	<em>Please select a country above</em>
  	<% else%>
    	<%= f.subregion_select(:customer,:customer_province, parent_region,:class => "span9") %>
  	<% end %>
</div>